@import 'variables'

.icon-input
  display: flex
  align-items: center

  input
    flex: auto
    outline: none
    border: none

    &:focus ~ svg

  .input-area
    display: flex
    flex-wrap: wrap
    align-items: center

  svg
    transition: fill 0.2s ease
    fill: $color-border

  .tags
    margin-left: 8px

  .first-icon
    left: 10px

  .last-icon
    right: 10px

  &.is-focused
    border-color: rgba($color-inverse, 0.7)

    svg
      fill: rgba($color-inverse, 0.7)

  @media (max-width: $screen-md-max)//{}
    .tags
      display: none



