@import 'variables'

.listing-detail
  border: 1px solid $color-border
  border-top: none

  .title-bar
    position: relative
    background-color: $color-inverse
    height: 3rem
    color: $color-white

    .title
      display: inline-block
      font-size: 1.5rem
      font-weight: $font-light
      padding: 0.7rem 2.5rem

    .rating
      display: inline-block
      float: right
      margin-right: 13rem
      font-size: 1.2rem
      padding: 0.6rem

      @media (max-width: $screen-xs-max)
        display: none

      .fa
        margin-left: 6px


  .no-content
    font-weight: $font-light

  .listing-map-area, .bio
    .no-content
      display: flex
      align-items: center
      justify-content: center

  .listing-images
    height: 300px

    &.no-content
      padding-top: 100px

      font-size: 1.3em

      i
        font-size: 2.5em
        margin-bottom: 10px

  .bio
    .no-content
      border: 1px dashed $color-inverse
      min-height: 150px
      text-align: center

  aside
    width: 200px
    margin: 1em auto

    @media (min-width: $screen-sm-min)
      position: relative
      margin-top: -3rem
      right: 2.5rem
      width: 150px
      float: right

    .title
      text-transform: uppercase
      background-color: $color-danger
      padding: 1rem 2rem
      font-weight: normal
      font-size: 1rem
      margin: 0
      color: $color-white
      height: 3rem
      text-align: center

    .ethicality, .operating-hours
      .no-content
        font-size: 1.1em
        padding: 25px 20px

        i
          font-size: 2.0em
          margin-bottom: 20px

    .ethicality

      .ethicalities
        border: 1px solid $color-inverse
        border-top: none
        color: $color-inverse
        text-align: center

        .quality
          margin: 2rem 0

          .fa
            margin-bottom: 1rem
            font-size: 2rem

          .name
            font-weight: $font-bold
            font-size: 0.7rem
            text-transform: uppercase

    .operating-hours
      border: 1px solid $color-inverse
      margin: 1rem 0

      @media (min-width: $screen-sm-min)
        margin: 4rem 0

      .title
        background-color: $color-success
        height: 4rem

      .daily-hours
        text-align: center
        border-bottom: 1px solid $color-inverse

        &:last-child
          border-bottom: none

  .listing-info
    padding: 2rem
    margin-right: 13rem

    @media (max-width: $screen-xs-max)
      margin-right: 0

    h3
      font-size: 2.5rem
      margin: 1.5rem 0

    p
      line-height: 2
      font-size: 17px

    .listing-map-area
      height: 400px
      width: 100%
      margin-top: 12px

      .no-content

        border: 1px dashed $color-inverse
        height: 100%
