@import 'variables'

.listing-detail
  border: 1px solid $color-border
  border-top: none

  .title-bar
    position: relative
    background-color: $color-inverse
    height: 0.5rem
    opacity: 0.8

    .rating
      display: inline-block
      float: right
      margin-right: 13rem
      font-size: 1.2rem
      padding: 0.6rem

      @media (max-width: $screen-xs-max)//{}
        display: none

      .fa
        margin-left: 6px

  .card-header
    background-color: rgba($color-inverse, 0.8)
    color: $color-white

  .no-content
    color: $color-muted
    font-weight: $font-light

  .listing-map-area, .bio
    .no-content
      display: flex
      align-items: center
      justify-content: center

  .listing-images
    position: relative
    height: 300px

    .actions
      position: absolute
      top: 0
      right: 0
      padding: 0.5em 1.2em
      background-color: $color-white
      color: $color-inverse
      opacity: 0.2
      z-index: 2
      border-bottom: 2px solid $color-inverse

      .icon-button
        font-size: 1.6em
        margin: 0 0.4em

      .triangle
        position: absolute
        width: 0
        height: 0
        top: 0
        left: -25px
        border-top: 44px solid $color-white
        border-left: 25px solid transparent

    .icon-button, .icon-button-overlay
      font-size: 2em


    @media (max-width: $screen-sm-max)//{}
      .icon-button-overlay, .actions
        opacity: 1

    &:hover, &:focus
      outline: none

      .icon-button-overlay, .actions
        opacity: 1

    .camera
      display: block

    &.no-content
      padding-top: 100px

      font-size: 1.3em

      .camera
        font-size: 2.5em
        margin-bottom: 10px

    &.uploadable:hover
      border: 2px dashed $color-inverse
      margin: -2px -1px 2px -2px
      cursor: pointer

      .camera
        font-size: 2.6em

      .add-picture-cta
        font-size: 1.1em

    &.uploadable
      .upload-wrapper
        width: 100%
        height: 100%

  .bio
    .no-content
      border: 1px dashed $color-inverse
      min-height: 150px
      text-align: center

  aside
    padding: 3em

    .ethicality, .operating-hours
      .card-header i
        display: none
        position: absolute
        left: 0
        padding-left: 0.6em
        font-size: 1.5em

    .ethicality
      text-align: center


      .ethicalities

        .quality
          margin: 2rem 0

          .fa
            margin-bottom: 1rem
            font-size: 2rem

          .name
            font-weight: $font-bold
            font-size: 0.7rem
            text-transform: uppercase

    .operating-hours
      text-align: center

      @media (min-width: $screen-sm-min) //{}
        margin: 4rem 0

      .title
        background-color: $color-success
        height: 4rem

      .daily-hours
        text-align: center
        border-bottom: 1px solid $color-inverse

        &:last-child
          border-bottom: none

  .listing-content
    padding: 0 2em 2em

    @media (max-width: $screen-xs-max) //{}
      padding: 0.5em


  .listing-info

    h3
      font-size: 2.5rem
      margin: 1.5rem 0

    p
      line-height: 2
      font-size: 17px

    .listing-map-area
      height: 400px
      width: 100%
      margin-top: 12px

      .no-content

        border: 1px dashed $color-inverse
        height: 100%

.edit-location-map
  height: 200px
