@import 'variables'

.front-page
  margin: 100px 0
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 500px

  .headline
    color: $color-inverse

  .et-search
    margin-top: 75px

    input
      padding: 12px
