@import "variables"

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400')
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400')

// Where to load font-awesome fonts
$fa-font-path: "../../node_modules/font-awesome/fonts"

// Custom Bootstrap
$brand-primary: $color-primary
$brand-success: $color-success
$brand-info: $color-info
$brand-warning: $color-warning
$brand-danger: $color-danger
$brand-inverse: $color-inverse

$body-color: $color-inverse

$font-family-sans-serif: 'Lato', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default

$font-weight-normal: 400 !default
$font-weight-bold: 700 !default

$headings-font-family: inherit !default
$headings-font-weight: 300 !default
$headings-line-height: 1.1 !default
$headings-color: inherit !default

@import "../../node_modules/font-awesome/scss/font-awesome"
@import "~bootstrap/scss/bootstrap.scss"

// Global Syles
html
  position: relative
  min-height: 100%

body
  width: 100%
  margin: 0
  margin-bottom: 200px

  p
    font-family: $font-family-2

  .container
    @media (max-width: $screen-xs-max)//{}
      padding-left: 0
      padding-right: 0

  .btn
    font-weight: $font-light

  .form-control
    &::-webkit-input-placeholder
      font-weight: $font-light
      font-family: $font-family-1
      color: lighten($color-inverse, 30%)

    &::-moz-placeholder
      font-weight: $font-light
      font-family: $font-family-1
      color: lighten($color-inverse, 30%)

  .btn
    color: $color-white

    &.btn-default
      background-color: rgba(255, 255, 255, 0)
      border: 1px solid $color-gray-5
      color: $color-gray-3

      &:hover
        border-color: $color-inverse
        background-color: $color-inverse
        color: $color-white

    &.btn-secondary
      color: $color-inverse

    &:hover
      cursor: pointer

  .btn-danger
    background: lighten($color-success, 20%)
    border-color: lighten($color-success, 20%)

    &:hover
      background: $color-success
      border-color: $color-success

  .icon-button
    opacity: 0.7

    &:hover, &:focus
      cursor: pointer
      outline: none
      opacity: 1

  .icon-button-overlay
    opacity: 0.2
    color: $color-white

    &:hover, &:focus
      cursor: pointer
      color: $color-inverse
      opacity: 1



