@import 'variables'

.search-result
  border: none

  .card-img
    height: 250px
    background-repeat: no-repeat
    background-size: cover
    background-color: $color-gray-6

  .card-block
    position: relative
    padding: 12px 0

    .card-title
      font-size: 18px
      font-weight: $font-normal

    .ethicalities
      position: absolute
      right: 0
      top: 10px

.search-map-area
  position: relative

  .search-map
    display: block
    position: fixed
    right: 0
    bottom: 0
    width: 33%
    height: 100%
    z-index: 2
    border-left: 2px solid $color-border


