@import 'variables'


@media (min-width: $screen-md-min) // {}
  .et-search

    .location-input
      margin-right: -1px

      input
        border-top-right-radius: 0
        border-bottom-right-radius: 0

    .category-input
      border-radius: 0

    .search-button
      border-top-left-radius: 0
      border-bottom-left-radius: 0
