@import 'variables'

.search-result
  border: none
  margin-bottom: 6px

  .card-img
    position: relative
    width: 100%
    padding-bottom: 65%
    background-repeat: no-repeat
    background-size: cover
    background-color: $color-gray-6

  .card-body
    position: relative
    padding: 16px 0

    .card-title
      font-size: 18px
      font-weight: $font-normal
      margin-bottom: 0

  .ethicalities
    height: 30px

  &.result-overlay
    border-radius: 10px

    .card-img
      padding-bottom: 35%
      border-radius: 10px 10px 0 0

    .card-body
      border-top: 1px solid $color-border
      padding: 16px 12px 12px

      .card-title
        margin-bottom: 0
        font-size: 14px

  .ethicality-icon svg
    height: 18px
    width: 18px

  &:hover, &.hovered
    opacity: 0.6

.search-results-ethicalities
  width: 100%

.search-map-area
  position: relative

  .search-map
    display: block
    position: fixed
    right: 0
    bottom: 0
    width: 30%
    height: 100%
    z-index: 2
    border-left: 1px solid $color-border

    @media (max-width: $screen-lg-max)//{}
      width: 100%

.result-overlay
  position: relative
  width: 200px
  background-color: $color-white

  &:hover
    opacity: 1
    cursor: default

  &::after
    content: '';
    position: absolute;
    left: 90px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-white;
    clear: both;


