@import 'variables'

.search-result
  border: none

  .card-img
    width: 100%
    padding-bottom: 75%
    background-repeat: no-repeat
    background-size: cover
    background-color: $color-gray-6

  .card-block
    position: relative
    padding: 12px 0

    .card-title
      font-size: 18px
      font-weight: $font-normal

.search-results-ethicalities
  width: 250px

  @media (max-width: $screen-xs-max)//{}
    width: 100%

.search-map-area
  position: relative

  .search-map
    display: block
    position: fixed
    right: 0
    bottom: 0
    width: 33%
    height: 100%
    z-index: 2
    border-left: 1px solid $color-border

  @media (max-width: $screen-md-max)//{}
    .search-map
      visibility: hidden

