@import 'variables'

.ethicality-icon
  display: inline-block
  opacity: 0.5

  svg
    width: 32px
    height: 32px
    fill: lighten($color-inverse, 20%)

  .name
    font-weight: $font-light

  @media (max-width: $screen-xs-max)//{}
    width: 120px
    font-size: 12px

  &.bordered
    border: 1px solid rgba($color-white, 0)

  &.selectable
    cursor: pointer
    border-radius: 5px
    transition: all 0.2s ease

    &:hover
      color: darken($color-success, 5%)
      border-color: $color-success
      background-color: rgba($color-success, 0.01)
      opacity: 1

      svg
        fill: darken($color-success, 5%)

      &.bordered
        box-shadow: 0 0 5px rgba($color-success, 0.67)

    &.bordered
      border: 1px solid $color-border

    &.selected
      color: darken($color-primary, 10%)
      border-color: $color-primary
      background-color: rgba($color-primary, 0.01)
      opacity: 1

      svg
        fill: darken($color-primary, 10%)

      &.bordered
        box-shadow: 0 0 5px rgba($color-primary, 0.67)


