@import 'variables.sass'

.collection
  .list-name
    margin: 0 $space-2

  .listings
    display: flex
    overflow-x: auto

    @media (max-width: $screen-md-max)
      overflow-x: scroll
      -webkit-overflow-scrolling: touch

    .listing-result
      flex-shrink: 0
      margin: $space-2
      width: 75%

  .divider
    margin-right: $space-3

  .see-more-link
    white-space: nowrap
    font-weight: $font-light

  @media (min-width: $screen-sm-min)//{}
    .listings
      .listing-result
        width: 30%

  @media (min-width: $screen-md-min)//{}
    .list-name
      margin: 0 $space-4

    .listings
      .listing-result
        margin: $space-4
        width: 20%

  @media (min-width: $screen-xl-min)//{}
    margin: $space-7 $space-8

    .list-name
      margin: 0 $space-4

    .listings

      .listing-result
        flex-shrink: 0
        flex: 1
        margin: $space-4
        max-width: 21%
        min-width: 20%

  @media (min-width: $screen-xxl-min)//{}
    .listings
      .listing-result
        max-width: 15%
        min-width: 14%



