@import "variables"

.ReactModal__Body--open
  overflow: hidden

.et-modal
  height: auto

  @media (max-width: $screen-xs-max)
    width: 100%

  .modal-close-wrapper
    text-align: right

    .modal-close
      color: $color-inverse

      &:hover
        text-decoration: none


@media (min-width: $screen-sm-min)
  .small-modal
    max-width: 350px

  .medium-modal
    max-width: 500px


