@import 'variables.sass'

.slick-slider
  height: 100%

  .slick-track
    height: 100%

  .slick-list
    height: 100%

  .slick-slide
    height: 100%

    & > div
      background-size: cover !important

  .slider-next, .slider-prev
    position: absolute
    top: 0
    z-index: 2
    width: 50px
    height: 100%

    svg
      fill: rgba($color-white, 0.7)

    .slider-navigation
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      width: 100%

      &:hover
        cursor: pointer
        background-color: rgba($color-inverse, 0.3)

        .icon-button-overlay
          svg
            fill: rgba($color-white, 0.9)

  &:hover
    .slider-navigation
      background-color: rgba($color-inverse, 0.1)

  .slider-prev
    left: 0

  .slider-next
    right: 0


